/ {
    lcd {
        compatible = "gpio-keys";

        lcd_bit1: lcd_bit1-gpios {
            gpios = <&gpio1 10 0>;
        };
        lcd_bit2: lcd_bit2-gpios {
            gpios = <&gpio1 11 0>;
        };
        lcd_bit3: lcd_bit3-gpios {
            gpios = <&gpio1 4 0>;
        };
        lcd_bit4: lcd_bit4-gpios {
            gpios = <&gpio1 5 0>;
        };
        lcd_bit5: lcd_bit5-gpios {
            gpios = <&gpio1 6 0>;
        };
        lcd_bit6: lcd_bit6-gpios {
            gpios = <&gpio1 7 0>;
        };
        lcd_bit7: lcd_bit7-gpios {
            gpios = <&gpio1 8 0>;
        };
        lcd_bit8: lcd_bit8-gpios {
            gpios = <&gpio1 9 0>;
        };
        lcd_rst: lcd_rst-gpios {
            gpios = <&gpio0 25 0>;
        };
        lcd_sc: lcd_sc-gpios {
            gpios = <&gpio0 7 0>;
        };
        lcd_rs: lcd_rs-gpios {
            gpios = <&gpio0 6 0>;
        };
        lcd_wr: lcd_wr-gpios {
            gpios = <&gpio0 5 0>;
        };
        lcd_rd: lcd_rd-gpios {
            gpios = <&gpio0 4 0>;
        };
    };

    aliases {
        lcd1 = &lcd_bit1;
        lcd2 = &lcd_bit2;
        lcd3 = &lcd_bit3;
        lcd4 = &lcd_bit4;
        lcd5 = &lcd_bit5;
        lcd6 = &lcd_bit6;
        lcd7 = &lcd_bit7;
        lcd8 = &lcd_bit8;
        lcdrst = &lcd_rst;
        lcdsc = &lcd_sc;
        lcdrs = &lcd_rs;
        lcdwr = &lcd_wr;
        lcdrd = &lcd_rd;
    };
};

&arduino_spi {
    sdhc0: sdhc@0 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <0>;
        status = "okay";
        sdmmc {
            compatible = "zephyr,sdmmc-disk";
            status = "okay";
        };

        spi-max-frequency = <32000000>;
    };
};
