&pinctrl {
    i2s0_doom_pins: i2s0_doom_pins {
        group1 {
            psels = <NRF_PSEL(I2S_SCK_M, 1, 8)>,
                    <NRF_PSEL(I2S_LRCK_M, 1, 6)>,
                    <NRF_PSEL(I2S_SDOUT, 1, 7)>;
        };
    };

    spi4_ft810_pins: spi4_ft810_pins {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 6)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 25)>,
                    <NRF_PSEL(SPIM_MISO, 0, 5)>;
        };
    };

    spi4_ft810_pins_sleep: spi4_ft810_pins_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 6)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 25)>,
                    <NRF_PSEL(SPIM_MISO, 0, 5)>;
        };
    };
};

&i2s0 {
    status = "okay";
    pinctrl-0 = <&i2s0_doom_pins>;
    pinctrl-names = "default";
    clock-source = "ACLK";
};

&spi4 {
    status = "okay";
    pinctrl-0 = <&spi4_ft810_pins>;
    pinctrl-1 = <&spi4_ft810_pins_sleep>;
    pinctrl-names = "default", "sleep";
};

&clock {
    hfclkaudio-frequency = <11289600>;
};
