# IDE/editor files
*.swp
*~
.cache/
.vscode/

# Log files
*.log

# Environment files
*.env
*.gitconfig

# Documentation files
*.html
*.pdf

# Archive files
*.zip

# Temporary/session files
*.TMP
*.emSession
*.jlink
*.tmp

# Build artifacts
Output
_build/
build*/
build/
output

# SDK/vendor artifacts
nRF5_SDK/
