# IDE/editor files
*.swp
*~
.cache/
.vscode/

# Temporary/session files
*.TMP
*.emSession
*.jlink
*.tmp

# Log files
*.log

# Build artifacts
Output
_build/
build*/
build/

# SDK/vendor artifacts
nRF5_SDK/
