&flexcomm1 {
	status = "okay";
};

// &arduino_spi {
// 	/delete-property/ dmas;
// 	/delete-property/ dma-names;
// };

/ {
	aliases {
		spi4 = &arduino_spi;
	};
};

&sram0 {
	reg = < 0x20000000 0x68000 >;
};

&sramg {
	status = "disabled";
};

&sramh {
	status = "disabled";
};

&user_button_2 {
	status = "okay";
};

&user_button_3 {
	status = "okay";
};
